<div class="imgs">
     <%= image_tag "image1.jpg", size: "200x200", alt: "Op. Dr. Seyfi Akbay", class: "img" %>
     <%= image_tag "image2.jpg", size: "200x200", alt: "Op. Dr. Seyfi Akbay", class: "img" %>
     <%= image_tag "image3.jpg", size: "200x200", alt: "Op. Dr. Seyfi Akbay", class: "img" %>
     <%= image_tag "image4.jpg", size: "200x200", alt: "Op. Dr. Seyfi Akbay", class: "img" %>
</div>
<h1 class="name">Op. Dr. Seyfi Akbay</h1>

<div class="prof">
<h3>Plastik Cerrah - Chirurgien Plastique - Schönheitschirurg - Cirujano Plástico - Chirurgo Plastico - Plastic Surgeon - 整形外科醫生</h3>
</div>

<br>

<ul class="f32">
  <li class="flag tr" id="tr" title=""></li>
  <li class="flag fr" id="fr" title=""></li>
  <li class="flag de" id="de" title=""></li>
  <li class="flag es" id="es" title=""></li>
  <li class="flag it" id="it" title=""></li>
  <li class="flag us" id="en" title=""></li>
  <li class="flag cn" id="cn" title=""></li>
</ul>