/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 * require_self
 * require_tree .
 *
 *= require extras.css.erb
 *= require flags32.css.erb
 *= require jquery-ui.min
 *= require jquery-ui.structure.min
 *= require jquery-ui.theme.min
 */

li {
    list-style: none;
    display: inline-block;
    margin-top: -20px;
    margin-right: 35px;
}

.prof{
   margin-left: 5%;
   font-size: 22px;
   font-weight: bold;
}

/*.f32 {*/
    /*position: fixed;*/
    /*display: inline;*/
    /*left: 32%;*/
    /*top: 75%;*/
/*}*/

.f32 {
    position: relative;
    margin-top: 5px;
    margin-left: 400px;
}
.f16 { display: none; }


.imgs {
    margin-top: 0;
    margin-left: 18%;
}

.img  {
    margin: 10px;
    height: 200px;
    width: 200px;
}

.name {
    margin-left: 40%;
}

.image-health {
    margin-top: 10px;
    float: right;
}

.column {
    margin-top: 10px;
    margin-right: 50px;
    height: 400px;
    float: right;
}

.main {
    float: left;
    margin-top: 20px;
    margin-right: 180px;
}

.info{
    margin-left: 100px;
    margin-top: -30px;
    display: inline-block;
}
.new_appointment {
    margin-top: -40px;
    margin-left: 75px;
    /*margin-top:*/
    display: none;
    float: right;
}

.err {
    margin-left: 75px;
    margin-top: 100px;
    float: right;
}

.image-health2 {
    margin-top: 10px;
    float: left;
}
.fit-image {
    width: 200px;
    height: 200px;
}

#webmaster {
    display: none;
}

.webmaster-contact-link {
    position: fixed;
    top: 90%;
    left: 90%;
}

.ex {
    float: right;
}

.tnx-page{
    margin-left: 42%;
    margin-top: 2%;
}

.tnx {
    font-size: 36px;
    margin-top: 1px;
}

.field_with_errors{
    display: inline;
}

.reqed {
    color: red;
}

h3 {
    margin-left: 30%;
}

.media-image {
    position: fixed;
    top: 90%;
    left: 3%;
}

.flg_in_app_new {
    cursor: default;
    position: relative;
    left: -340px;
}

.addr-in-show{
    margin-left: 27%;
}

.comm-in-show{
    margin-left: 28%;
}

/*fix for strange underline appearing after the map image*/
.mp {
    text-decoration: none;
}

.mp_img{
    height: 32px;
    width: 32px;
}


.home {
    position: fixed;
    margin-left: 2%;
    margin-top: 0;
    height: 32px;
    width: 32px;
}

#appointment_time_5i, #appointment_time_5i {
    width: 100px;
}

#appointment_complaints {
    width: 160px;
    height: 100px;
}